
#sliding
{
display: flex;
justify-content: center;
align-items: center;
justify-content: space-evenly;
}

#faq
{
    margin-top: 100px;
    background-color: #f3f4f6;
    padding:100px
}
.drower
{
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    text-align: center;
    cursor:pointer;
    width: 500px;
    /* position: absolute; */
    margin: auto;
    padding: 15px 120px;
}

.drower ::before
{
   
    cursor:pointer;
    width: 500px;
    position: absolute;
    margin: auto;

}
 .details
{
    /* border: solid; */
    position: relative;
   
    height: 0;
    overflow: hidden;
    transition: 0.20%;
    overflow-y: auto;
}

 .drower.active .details
{
 
   padding: 10px;
    height: auto;
    width: 500px;
    margin: auto;
}


#last
{
    margin: auto;
    margin-top: 90px;
    width:500px;
    text-align: center;
}