#container
{
    border: solid;
}

#heading
{
    width:100%;
    margin:auto;
    text-align: center;
}
.send
{
    display: block;
    margin: auto;
    color:white;
    background-color: #6c6cff;
    padding:15px 40px;
    border-radius: 30px;
    border: transparent;
}
#bar
{
    margin-top: 30px;
    border:solid;
    display: flex;
    justify-content: space-between;
}
#sl
{
    display: flex;
}
#sr
{
    display: flex;
}

#packs
{
    margin-top: 30px;
    border: solid green;
    display:grid;
    grid-template-columns: repeat(5,200px);
    justify-content: space-evenly;
}
.price
{
    display:flex;
}
.i
{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.des
{
    border-top: solid grey;
margin-top: 100px;
}
.cards
{
border: solid grey;
padding:25px;
}

.choose
{
    display: block;
    margin: auto;
    color:white;
    background-color: #6c6cff;
    padding:9px 20px;
    border-radius: 30px;
    border: transparent;
}