*{
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
    
}

#nv{
    /* border:2px solid blueviolet; */
    width: 100%;
    height: 60px;
}




#lgo{
    /* border: 1px solid blue; */
    height: 100%;
    width: 15%;
    margin-left: 50px;
}


#lower_nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 65px;
    margin: auto;
    display: flex;
    position: fixed;
    background-color: white;
}

#lgo{
    /* border: 1px solid blue; */
    height: 100%;
    width: 17%;
}
#lgo img{
    width: 100%;
    height: 100%;
}
#Ist-box{
    display: flex;
    /* border: 1px solid rgb(40, 0, 29); */
    width: 25%;
    height: 100%;

    
}
#Ist-box div{
    color: rgb(68, 68, 68);
    margin: auto;
}
#Ist-box div:hover{
    color: #6c6cff;
}

.upper{
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 70px;
    /* border: 4px solid red; */

}

.upperI{
color: rgb(255, 255, 255);
 background: rgb(15, 16, 72);
 width: 100%;
 height: 600px;
 /* border: 1px solid white; */
 

}
.upperI-text{
    /* border: 1px solid rgb(0, 200, 255); */
    margin: auto;
    text-align: center;

}


.hI{
font-size: 45px;
/* border: 1px solid rgb(255, 0, 17); */
/* margin-top: -50px; */
}

.pII{
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-size:20px;
line-height: 32px;
margin-top: -20px;
/* border: 2px solid rgb(47, 113, 255); */
}

.upperII{
 width: 100%;
 /* height: 600px; */
 

}

.upperII img{
    width: 100%;
    margin: auto;
}





.main{

    margin: auto;
    width: 90%;
    height: 150px;
    /* border: 1px solid blue; */
    display: flex;


}

.main div{
    margin: auto;
    width: 10%;
    height: 135px;
    /* border: 1px solid gray; */
    background: rgb(15, 16, 72);
}

.main #mainI{
    border: 3px solid #00d2d2; 
    border-radius: 5px;
}

/* .main #main:hover{
    border: 1px solid #00d2d2;
} */

.main div .check-log{
width: 100%;
height: 60%;
/* border: 1px solid rgb(8, 0, 255); */
display: flex;
}
.main div .check-log + .txt{
width: 100%;
height: 40%;
/* border: 1px solid blueviolet; */

}
.check-log div{
width: 30%;
height: 100%;
/* border: 1px solid red; */
margin-top: 1px;
}

.check-log div+div{
width: 70%;
height: 100%;
/* border: 1px solid rgb(30, 0, 255); */

}

#checkbox{
height: 22px;
width: 22px;
border-radius: 5px;
cursor: pointer;

}

.check-log div+div img{
width: 50%;
height: 50%;
margin-top: 40%;
}

.main div .check-log + .txt p{
margin: auto;
color: white;
text-align: center;
font-size: 16px;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-weight: 300;
}

#btna{
    width: 50%;
    height: 100px;
    margin: auto;
    /* border:  2px solid yellow; */
    margin-top: 50px;
}

#btn{
margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #00d2d2;
padding: 16px 13px 16px 13px ;
margin-top: 10px;
margin-left: 35%;
border: none;
}
#btn:hover{
background-color:#02a5a5;
}

#hr{
   
    
    color: rgb(24, 24, 24);
}

.upperIII{
/* border: 3px solid rgb(0, 255, 174); */
margin: auto;


}
.upperIII-logo{
width: 25%;
margin: auto;
/* border: 1px solid green; */
}
.upperIII-logo img{
width: 100%;
height: 100%;
}

.upperIII-text{
/* border: 2px solid gray; */
margin: auto;
width: 60%;
height: auto;
}
.upperIII-text h1{
font-size: 30px;
text-align: center;
font-weight:650;
color: rgb(50, 49, 49);
}
.upperIII-text h1+h1{
font-size: 33px;
text-align: center;
font-weight:400;
margin-top: -15px;
}

.upperIV{
display: flex;
/* border: 2px solid blueviolet; */
width: 100%;
height: auto;
margin-top: 80px;
}
.upperIV div{
/* border: 5px solid rgb(85, 0, 255); */
height: 500px;
width: 50%;
}

.upperIV div img{
width: 100%;
height: 100%;
}

.upperIV-text{
text-align:left;
margin-left: 20px;
margin-top: 50px;
}

.upperIV-text  p{
color: green;
}

.upperIV-text  p +h1+ p{
color: #333333;
font-size: 18px;
line-height: 1.5;
opacity: 90%;
margin-top: 70px;
}

.upperIV-text h1{
font-weight: 700;
font-size: 35px;
color: black;
opacity: 90%;
margin-bottom: -13px;
}

/* .upperIV-text h1 + h1{
font-weight: 200;
font-size: 35px;
opacity: 90%;


} */



.upperV{
height: 600px;
/* background: rgb(15, 16, 72);
clip-path: polygon(0 0, 100% 16%, 100% 97%, 0 81%); */
position: relative;
display: flex;
/* border: 3px solid yellow; */
}

.upperV div{
/* border: 5px solid rgb(85, 0, 255); */
height: 700px;
width: 50%;
margin-top: 20px;
text-align: left;

}

.upperV-text{
margin-left: 100px;
margin-top: 50px;
}

.upperV div + div img{
width: 100%;
}

.upperV-text p{
color: #005f37;
margin-top:70px;

}

.upperV-text p + h1{
color: rgb(34, 34, 34);
}
.upperV-text p + h1 + p{
color: rgb(39, 39, 39);
line-height: 1.6;
font-size: 20px;
}


.upperVI{
display: flex;
/* border: 2px solid blueviolet; */
width: 100%;
height: auto;
margin-top: 80px;
}
.upperVI div{
/* border: 5px solid rgb(85, 0, 255); */
height: 500px;
width: 50%;
}

.upperVI div img{
width: 100%;
height: 100%;
}

.upperVI-text{
text-align:left;
margin-left: 40px;
}

.upperVI-text  p{
color: green;
margin-top: 100px;
}

.upperVI-text  p + h1  + p{
color: #0f0f0f;
font-size: 20px;
line-height: 1.6;
opacity: 90%;
margin-top: 30px;
}

.upperVI-text h1{
font-weight: 700;
font-size: 35px;
color: #000000;
opacity: 90%;
margin-bottom: -13px;
}



/* ****upper7**** */

.upperVII{

/* border: 3px solid greenyellow; */
width: 100%;
height: 1800px;
margin-top: 10px;
}

.upperVII div{
    margin-top: 25px;
}

.upperVII-i{
    height: 130px;
    width: 60%;
    margin: auto;
    /* border: 1px solid rgb(143, 37, 37); */
}

.upperVII-i h1{
    color: black;
   text-align: center
}

.upperVII-ii{
    height: 650px;
    width: 95%;
    margin: auto;
    /* border: 1px solid rgb(62, 37, 143); */
    display: flex;
}

.upperVII-ii div{
    /* border: 1px solid blue; */
    width: 45%;
    height: 90%;
    margin: auto;


}

.upperVII-ii div img{
    width: 100%;
    height: 100%;

}


.upperVII-iii{
    display: flex;
    height: 400px;
    width: 95%;
    
    /* border: 1px solid rgb(143, 37, 108); */
}

.upperVII-iii div{
    /* border: 1px solid blue; */
    width:40%;
    height: 90%;
    margin: auto;


}

.upperVII-iii div h1{
    color: black;
    text-align: left;
    font-size: 40px;

}
.upperVII-iii div h1 + p{
    color: #333333;
    text-align: left;
    font-size: 20px;
    line-height: 32px;

}



.upperVII-iv{
    height: 50px;
    width: 60%;
    margin: auto;
    /* border: 1px solid rgb(37, 143, 74); */
}
.upperVII-iv h1{
    color: #333333;
   
    font-size: 32px;
    
    text-align: center;
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}



.upperVII-v{
    height: 500px;
    width: 100%;
    margin: auto;
    /* border: 1px solid rgb(143, 37, 37); */
}



.lower{
/* border: 2px solid rgb(8, 90, 29); */
width: 100%;
margin: auto;
}
.lower div{
text-align: center;
font-size: 32px;
line-height: 40px;
color: #333333;
}

.lower-grid{
width: 90%;
display: grid;
grid-template-columns: repeat(9, 1fr);
margin: auto;
margin-top: 15px;
/* border: 1px solid black; */
}
.lower-grid div img{
width: 55%;
height: 60%;
}

.btn{
margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #6c6cff;
padding: 16px 13px 16px 13px ;
margin-top: 10px;
margin-left: 45%;
border: none;
}
.btn:hover{
background-color:#2626e3 ;
}




.lowerI{
height: 800px;
background: #f0f3ff;
clip-path: polygon(0 0, 100% 10%, 100% 97%, 0 86%);
position: relative;
display: flex;
margin-top: 100px;
/* border: 3px solid rgb(59, 0, 235); */
}

.lowerI-div{
margin: auto;
width: 90%;
height: 85%;
/* border: 2px solid rgb(5, 41, 2); */
}

.lowerI-div .lowerI-text {
border: 3px solid black;
width: 60%;
margin: auto;
}

.lowerI-div div h1{
text-align: center;
color: #323338;
font-size: 32px;
line-height: 40px;
}


.lowerI-divI{
/* border: 3px solid rgb(175, 206, 114); */
width: 100%;
height: 80%;
display: flex;
}

.lowerI-divI div{
/* border: 5px solid green; */
height: 90%;
}



.lowerI-divI{
    /* border: 3px solid rgb(175, 206, 114); */
    width: 100%;
    margin-top: 100px;
    height: 80%;
    display: flex;
    }
    
    .lowerI-divI div{
    /* border: 5px solid green; */
    
    
    height: 100%;
    }
    
    .divI-select{
    margin-top: 50px;
    width: 20%;
    height: 60%;
    text-align: left;
    }

    .divI-select p{
        color: black;
        margin-left: 20px;
        margin-top: 25px;
    }
    
    
    .divI-select p:hover {
    cursor: pointer;
    font-size: 17px;
    color: skyblue;
    }
    .divII-text{
    width: 25%;
    margin-top: 60px;  
    }
    
    .divII-text p {
    cursor: pointer;
    font-size: 28px;
    color: black;
    
    }
    #message{
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    color: rgb(80, 80, 80);
    font-weight: 100;
    
    }
    
    .divIII-img{
    width: 50%;
    margin-top: 50px;
    }
    
    .divIII-img img{
    width: 90%;
    height: 90%;
    margin-left: 30px;
    
    }

.lowerII{
clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 81%);
background: rgb(15, 16, 72);
width: 100%;
height:1000px;
position: relative;

}


.lowerII-I{
border: 1px solid  rgb(15, 16, 72);
width: 60%;
margin: auto;
text-align: center;

}

.lowerII-I h1{
color: #ffffff;
margin-top: 200px;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-size: 32px;
line-height: 40px;
}

.lowerII-II{
/* border: 1px solid rgb(255, 0, 166); */
width: 95%;
margin: auto;
height: 500px;
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 15px;


}

.lowerII-II div {
/* border: 1px solid greenyellow; */
height: 70%;
margin-top: 50px;
background-color: #ffffff;
border-radius: 10px;
padding: 15px;

}

.lowerII-II div div{
width: 80%;
height: 10%;
margin: auto;
}

.lowerII-II div div img{
width: 90%;
height:90%;
}

.lowerII-II div p{
color: #676879;
margin-left: 10px;
font-size: 14px;

}

.lowerII-II div p + p{
color: #333333;
margin-left: 12px;
margin-top: 40px;
font-size: 16px;
line-height: 1.5;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

.lowerII-II div p + p +button {
border-radius: 40px;
padding: 10px 7px 10px 7px;
width: 200px;
height: 40px;
margin-left: 20px;
}

.lowerII-II div p + p +button:hover{

background-color: rgb(193, 189, 189);
cursor: pointer;
}

.lowerII-II div p + p +button + p{
text-align: center;
font-size: 14px;
color: #676879;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

.lowerII-II div p + p +button + p:hover{
color: skyblue;
}



.lowerIII{
    /* border: 1px solid green; */
    width: 100%;
    height: 650px;
}

.lowerIII div{
    margin-top: 15px;
}

.lowerIII-i{

    height: 100px;
    width: 60%;
    margin: auto;
    /* border: 1px solid rgb(0, 0, 0); */

}

.lowerIII-i h1{
    font-size: 32px;
    color: black;
    text-align: center;
}

.lowerIII-ii{

    height: 200px;
    width:90%;
    margin: auto;
    /* border: 1px solid rgb(0, 0, 0); */

}

.lowerIII-ii img{
width:90%;
height: 70%;
margin: auto;
margin-left: 46px;
}

.lowerIII-iii{

    height: 100px;
    width: 50%;
    margin: auto;
    /* border: 1px solid rgb(0, 0, 0); */

}

.lowerIII-iii button{
 margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #6c6cff;
padding: 16px 13px 16px 13px ;
margin-top: 10px;
margin-left: 33%;
border: none;
}




.lowerIII-iii button:hover{
    background-color:#3d3df4;
}

.lowerIII-iv{
 
    width: 100%;
    height: 200px;
    background-color:#eae7e771;
   display: block;
}

.lowerIII-iv img{
    width: 30%;
    height: 30%;
    margin: auto;
    margin-left: 35%;
    margin-top: 50px;
    
}



