
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 1200px;
    background-color: white;
    /* border: 1px solid red; */
    margin: auto;
}


#contact_sales{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    display:flex;
    gap:50px;
    width:100%;
    /* size: 1200px; */
    /* border: 1px solid blue; */
    margin: auto;
    padding-top: 100px; 
}

#contact_sales>div:nth-child(1){
    box-shadow: 3px 3px rgb(237, 97, 97), -1em 0 .4em rgb(72, 72, 232);
    
   
}
/* 
#contact_sales:nth-child(1){
    width:60%;
} */

#input_feild{
    padding: 50px;
    width:40%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    height:700px;
}

#navbar {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 555;
    background-color: #ffffff;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

input,select{
    height:40px;
    width:230px;
    margin-left: 10px;
    outline: none;
    margin-bottom: 20px;
}

#form>div{
    /* border:1px solid blue; */
    margin-top: 20px;
    gap:20px;
    
}

#phone{
    /* border:1px solid red; */
    display: flex;
}

.input{
    display:flex;

}

label{
    margin-left: 20px;
    font-size: 18px;
}

#msg{
    height:150px;
    width:480px;
    font-size: 20px;
 
}
 

#privacy>span{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey;
    font-size: 15px;
}


#help{
    margin-top: 60px;
}
button{
    display: block;
    margin: auto;
    height:50px;
    width:150px;
    border-radius: 20px;
    font-size: 19px;
    background-color: rgb(79, 79, 237);
    color:white;
    border-color: aliceblue;

    margin-top: 10px;
}


input:hover{
    background-color: rgb(224, 224, 245);
}

#head{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#info_sec{
  width:40%;
  padding: 10px;
}
/* 
#info_sec>div{
    margin-bottom: 15px;
} */

#coll>h2{
    font-size: 28px;
    font-weight: bold;
    /* font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif; */
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#coll{
    margin-bottom: 60px;
}

.align{
    display:flex;
    /* border:1px solid ; */
    margin-top: 10px;
    /* margin-bottom: 30px; */
}

#visit{
    margin-top: 30px;
    margin-bottom: 45px;
}

.align>div:nth-child(1){
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:100px;
    padding:5px;
    text-align: center;
    font-size: 17px;
     
}


.align>div>img{
    height:40px;
    margin-top: 5px;
}

.align>div:nth-child(2){
    font-size: 20px;
    width:800px;
    margin-left: 20px;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#visit{
    font-weight: lighter;
    font-size: 18px;
}

#work1{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 35px;
    background-color: rgb(232, 232, 245);
    border-radius: 10px;
    margin-top: 40px;
}

#monday{
    font-weight: lighter;
   

}

#country{
    margin: 1px solid;
    
}

#partner_logo{
    display:flex;
    gap:20px;
    margin-top: 20px;
}

.image>img{
    height:27px;
    width:65px;
    
}
.image{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding:7px;
    border-radius: 10px;
}

#show{
    height:200px;
    width: 200px;
    background-color:green;
}

/* ///////////////////////////////////////////////////////////// */
#see{
    border:1px solid red;
   
    height: 100px;
    width: 100px;
}

#see>div{
    border:1px solid red;
    
        height: 10px;
        width: 10px; 
        margin:20px;
}

#done{
    height:20px;
    display:flex;
    text-align: center;
    justify-content: center;
    width:110px;
    background-color: rgb(152, 119, 234);
    padding: 20px;
    rotate:500px;
    margin: auto;
}

#gone{
    /* display: none; */
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/715vwvP5ZEL.png");
    background-repeat: no-repeat;
    padding: 20px;
    width:500px;
    /* margin-left: 150px; */
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 20px;
    /* box-shadow:10px 10px 8px blue; */
    height:540px;
    font-size: 20px;

}

#gone>p,span{
    margin-top: 390px;
     
}

#gone>p:hover{
    color:violet;
}

#gone>span:hover{
    color:rgb(50, 197, 205);
}