
#footerr_div div
{
    margin:8px
}

#footerr_div{
/* border: solid;; */
    padding: 0px;
    margin: 0px;
    width: 1230px;
    cursor: pointer;
}

#footer_logo
{
    margin-top: 10px;
}

#foot1 {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: auto;
     gap: 20px;
    padding: 20px;
    padding-left: 30px;
}

#hrline{
   lighting-color: rgb(250, 250, 242);
}
#foot1>div>p {
    color: rgb(88, 88, 88);
}

#foot1>div>h4 {
    color: rgb(99, 98, 98);
}

#foot1>div>p:hover {
    color: blue;
    
}

.products_footer {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-left: -20px;
}

.products_footer>p {
    color: grey;
    margin-left: 15px;
}

.products_footer>p:hover {
    color: blue;
}

.products_footer>img {
    width: 20px;
    height: 17px;
 
}

#hrline{
    margin-left: 20px;
    width: 1250px;
}

#external_links {
    width: 1230px;
    display: grid;
    grid-template-columns: 200px 600px 200px;
    height: 140px;
    align-items: center;
    padding:30px;
   cursor: pointer;
}


#lang_set {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
   
}
#globesvg{
margin-right: 5px;

}

#lang_set>div>img {
    width: 25px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#external_links2>div{
    
    margin-left: 20px;
}
#external_links2>div>svg {
    width: 30px;
    height: 35px;
    margin-left: 10px;
   
}


#external_links2>div>p:hover {
    color: blue;
}

#terms-privacy {
    display: flex;
    align-items: center;
}

#terms-privacy>span {
    margin-left: 3px;
}
#external_links3>div{
    width: 200px;
    height: 80px;
 
    margin-left: 30px;
  
}

#external_links3>div>img{
    width: 300px;
    height:80px;

}

#footer_last{
   
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 26px;
}