@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    padding: 0px;
    margin: 0px;

}

body {
    width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    /* color: #FFFFFF; */
}



#Header {
    color: #FFFFFF;
    background-color: rgb(15, 16, 72);
}

#heading {
    text-align: center;
    padding: 30px 0px 0px 0px;
}

#heading>h1 {
    font-size: 80px;
    font-weight: 200;
    margin: 20px;
}

#heading>h2 {
    font-size: 40px;
    font-weight: 200;
}

#product_card {
    width: 90%;
    /* height: 300px; */
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: auto;
}

#product_card .product_card-div {
    width: 12%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    font-weight: 100;
}

#product_card .product_card-div #checkbox {
    width: 20px;
    height: 20px;
    padding: 10px;
    color: rgb(15, 16, 72);
    border: 1px solid #FFFFFF;
    border-radius: 10px;

}

#product_card .product_card-div .dash-div {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

#product_card .product_card-div .dash-div>img {
    width: 45px;
    height: 45px;
    padding-left: 20px;

}

#get-started01 {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#get-started01 #btn {
    width: 100px;
    margin: auto;
    padding: 10px 20px;
    background-color: #6C6CFF;
    border-radius: 20px;
    margin-bottom: 15px;

}

/* make button */
#big_img {
    width: 1200px;
    height: 100px;
}

#big_img img {
    width: 1200px;
    clip-path: polygon(0 17%, 100% 20%, 100% 98%, 0 73%);
}

#customers_section {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#customers_logos {
    width: 100%;
    display: flex;
    margin: auto;

}

#customers_logos .customers_logo {
    width: 150px;
    height: 150px;

    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#customers_logos .customers_logo>img {
    width: 100;

}

#customers_logos .customers_logo:nth-child(4) {
    padding: 0px;
}

#customers_logos .customers_logo:nth-child(7) {
    padding: 0px;
}

#work_os {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    margin: auto;
}

#work_os #main_text {
    font-size: 25px;

}

#work_os #lower_text {
    width: 50%;
    font-size: 20px;
}

#get_started02 {
    width: 120px;
    height: 30px;

    padding: 10px;
    border-radius: 10px;
}









#skew {
    width: 100%;
    height: 900px;
    background-color: rgb(15, 16, 72);
    transform: skew(0deg, 10deg);
    margin: 100px 0px;
    /* clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%); */
}

#productivity {
    width: 100%;
    height: 800px;
    display: flex;

    transform: skew(0deg, -10deg);


}

#skew #productivity #movingbar .main_text {
    width: 80%;
    margin: 20px 0px;
    padding: 20px;
}

#skew #productivity #movingbar .main_text .top_main {
    font-size: 30px;
    padding: 10px 0px;
}

#skew #productivity #movingbar .main_text>p {
    font-size: 20px;

}

.image_text {
    width: 100%;

    display: flex;
    gap: 20px;
}

.image_text>img {
    width: 80px;
}



#video_frame {
    width: 50%;
    padding: 10px;
    margin: 100px 20px;

}

#video_frame>video {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#productivity #movingbar {
    width: 40%;
    color: #FFFFFF;
}

#work_flow {
    width: 80%;
    height: 350px;
    margin: auto;
}

#work_flow_text {
    width: 60%;
    height: 150px;

    margin: auto;
    text-align: center;
    padding: 10px;
}

#work_flow_text #h1 {
    margin: 30px;
    font-size: 30px;

}

#work_flow_text p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

}

#work_flow_cards {
    width: 70%;
    height: 100px;
    display: flex;
    gap: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.work_flow_card {
    font-size: 18px;
    font-weight: bold;
}

.work_flow_card .image01 {
    width: 30px;
    margin: auto;
    justify-content: center;
}

.work_flow_card>div>img {
    width: 30px;
    height: 30px;

}

#workflow_base {
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-evenly;
}

#text_img_head {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#img_head {
    font-size: 25px;
    font-weight: bold;
}

#img_text {
    width: 50%;
    font-size: 20px;
    margin: auto;
}

#video_frame01 {
    width: 80%;
    padding: 10px;
    margin: 10px 20px;

}

#video_frame01>video {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#product_item #top_item_div {
    width: 25%;
    margin: auto;
    justify-content: center;
}

#text_div {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;

}

#text_div>h1 {
    font-size: 40px;
    padding: 20px;
}

#text_div>p {
    font-size: 20px;

}

#product_item_div_card {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
   

}
 
#skew02{ 
    width: 100%; 
    height: 550px; 
   margin: 80px 0px;  
    background-color: rgb(15, 16, 72); 
    transform: skew(0deg,6deg); 
} 
#video_frame02 {
    width: 100%;
    padding: 70px 0px;
    margin: 10px 0px;
    transform: skew(0deg,-6deg); 
}

#video_frame02>video {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.item_div {
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
}

#product_item_div_card .item_div img {
    width: 200px;
    padding-left: 0px;
}

.item_div .mid_text {
    padding: 0px;
    margin: 10px 0px;
}

.item_div .bottom_text {
    padding: 0px;
    font-size: 16px;
    margin: 10px 0px;
}

#product_item_div_card .item_div .use_cases .use_case_item {
    display: flex;
    gap: 10px;

}

#product_item_div_card .item_div .use_cases .use_case_item>h3 {
    padding: 5px;
    margin: 10px 0px;
}

#product_item_div_card .item_div .use_cases .use_case_item>img {
    width: 15px;

}

#product_item_div_card .item_div .use_cases .use_case_item>p {
    font-size: 15px;
}

#product_item_div_card .item_div .item_lowerpart {
    width: 150px;
    height: 60px;
    margin: auto;
    padding: 25px 0px;
    text-align: center;
    margin: 10px 10px;

}

#product_item_div_card .item_div .item_lowerpart button {
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #6C6CFF;
}

#customer {
    width: 85%;
    height: 350px;

    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;

}


#customer_info_text {
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

#customer_info_link {
    color: blue;
}

#slide_main {
    width: 50%;

}

#slide_main #slide_top {
    width: 95%;
    height: 300px;
    background-color: #6C6CFF;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 20px;
}

#slide_main #slide_top>div {
    padding: 40px 0px 10px 40px;
}

#slide_main #slide_top #name {
    font-size: 25px;
    margin: -50px 10px;

}

/* #img_slide{ 
    width: 100px;  
    margin: right;
    justify-content: right;
  
}
#img_slide>img{ 
    width: 30px;
} */




#support {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 50px;
    gap: 20px;
}

#support_img {
    width: 40%;

}

#support_img img {
    width: 100%;
    margin: auto;
}

#support_text {
    width: 60%;
    margin: auto;
}

#support_text #support_text_heading {
    font-size: 40px;
}

#support_text #support_text_mid {
    font-size: 20px;
    padding: 20px 0px;
}

#support_text_contact {
    width: 100%;

    display: flex;
    justify-content: space-evenly;


}

#support_text_contact .contact {
    width: 30%;
    display: flex;
    gap: 20px;
    margin: 40px 0px;

}

#support_text_contact .contact .contact_img img {
    width: 60px;
}

#support_text_contact .contact .contact_text {
    font-weight: bold;
}

#get_in_touch {
    display: flex;
    width: 450px;

    margin: 20px;
    padding: 20px;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

#get_in_touch button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #6C6CFF;

}

#lower_items {
    width: 80%;
    margin: auto;
    text-align: center;
}

.lower_text #head {
    font-size: 30px;
    padding: 20px;
    font-weight: 400;

}

.lower_text #base {
    font-size: 20px;
    margin-bottom: 20px;
}

#lower_item_div {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
}

#lower_item_div .item_div img {
    width: 100px;
    padding: 20px 0px;
}

#lower_item_div>div:nth-child(2) img {
    width: 180px;
    padding: 35px 0px 80px 0px;
}

#lower_item_div>div:nth-child(3) img {
    width: 100px;
    padding: 30px 0px 60px 0px;
}

#lower_item_div .item_div h2 {
    padding: 10px 0px;
}

#get_started {
    width: 400px;
    margin: auto;

}

#get_started03>button {
    padding: 10px 20px;
    background-color: #6C6CFF;
    margin: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
} 

