*{
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}
#lower_nav{
    /* border: 1px solid red; */
    width: 90%;
    height: 65px;
    margin: auto;
    display: flex;
}

#lgo{
    /* border: 1px solid blue; */
    height: 100%;
    width: 15%;
}
#lgo img{
    width: 100%;
    height: 100%;
}
#Ist-box{
    display: flex;
    /* border: 1px solid rgb(40, 0, 29); */

    width: 25%;
    height: 100%;

    
}
#Ist-box div{
    color: rgb(68, 68, 68);
    margin: auto;
}
#Ist-box div:hover{
    color: #6c6cff;
}

.upper{
    margin: auto;
    width: 100%;
    height: auto;
    /* border: 4px solid red; */

}

.upperI{
color: rgb(255, 255, 255);
 background: rgb(15, 16, 72);
 width: 100%;
 height: 600px;
 /* border: 1px solid white; */
 

}
.upperI-text{
    /* border: 1px solid rgb(0, 200, 255); */
    margin: auto;
    text-align: center;

}

.pI{
font-size: 60px;
line-height: 68px;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-weight: 300;
margin-top: -5px;
}
.hI{
font-size: 60px;
/* border: 1px solid rgb(255, 0, 17); */
margin-top: -50px;
}

.pII{
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-size:20px;
line-height: 32px;
margin-top: -30px;
/* border: 2px solid rgb(47, 113, 255); */
}

.pIII{
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
font-size:20px;
line-height: 32px;
margin-top: 50px;
/* border: 2px solid rgb(255, 47, 141); */
}





.upperII{
 width: 100%;
 /* height: 600px; */
 

}

.upperII img{
    width: 100%;
    margin: auto;
}

.work-category{
    /* border: 1px solid rgb(224, 47, 255); */
    margin: auto;
    width: 50%;
    margin-top: -10px;
  
}

.work-category > div {

background-color: #27285a;
display: inline-block;
padding: 8px 10px 3px 6px;
border-radius: 80px;
margin: 10px;
height: 30px;
text-align: start;
font-weight: 400;

}
.work-category > div > input {
width: 22px;
height: 15px;
text-align: start;
font-size: 16px;
line-height: 22.5px;
}

#retro{
margin-left: 40px;
}




.work-category > div:hover {
background-color: #0d0e2d;
}

#btn{
margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #6c6cff;
padding: 16px 13px 16px 13px ;
margin-top: 10px;
margin-left: 35%;
border: none;
}
#btn:hover{
background-color:#2626e3 ;
}

.upperIII{
/* border: 3px solid rgb(0, 255, 174); */
margin: auto;


}
.upperIII-logo{
width: 25%;
margin: auto;
/* border: 1px solid green; */
}
.upperIII-logo img{
width: 100%;
height: 100%;
}

.upperIII-text{
/* border: 2px solid gray; */
margin: auto;
width: 60%;
height: auto;
}
.upperIII-text h1{
font-size: 30px;
text-align: center;
font-weight:650;
color: rgb(50, 49, 49);
}
.upperIII-text h1+h1{
font-size: 33px;
text-align: center;
font-weight:400;
margin-top: -15px;
}

.upperIV{
display: flex;
/* border: 2px solid blueviolet; */
width: 100%;
height: auto;
margin-top: 80px;
}
.upperIV div{
/* border: 5px solid rgb(85, 0, 255); */
height: 500px;
width: 50%;
}

.upperIV div img{
width: 100%;
height: 100%;
}

.upperIV-text{
text-align:left;
margin-left: 20px;
margin-top: 50px;
}

.upperIV-text  p{
color: green;
}

.upperIV-text  p +h1+ h1+ p{
color: #333333;
font-size: 18px;
line-height: 1.5;
opacity: 90%;
margin-top: 70px;
}

.upperIV-text h1{
font-weight: 700;
font-size: 35px;

opacity: 90%;
margin-bottom: -13px;
}

.upperIV-text h1 + h1{
font-weight: 200;
font-size: 35px;
opacity: 90%;


}



.upperV{
height: 700px;
background: rgb(15, 16, 72);
clip-path: polygon(0 0, 100% 16%, 100% 97%, 0 81%);
position: relative;
display: flex;
/* border: 3px solid yellow; */
}

.upperV div{
/* border: 5px solid rgb(85, 0, 255); */
height: 700px;
width: 50%;
margin-top: 120px;
text-align: left;

}

.upperV-text{
margin-left: 150px;
margin-top: 50px;
}

.upperV div + div img{
width: 100%;
}

.upperV-text p{
color: #00c875;
margin-top: 50px;

}

.upperV-text p + h1{
color: white;
}
.upperV-text p + h1 + p{
color: white;
line-height: 1.6;
font-size: 20px;
}


.upperVI{
display: flex;
/* border: 2px solid blueviolet; */
width: 100%;
height: auto;
margin-top: 80px;
}
.upperVI div{
/* border: 5px solid rgb(85, 0, 255); */
height: 500px;
width: 50%;
}

.upperVI div img{
width: 100%;
height: 100%;
}

.upperVI-text{
text-align:left;
margin-left: 40px;
}

.upperVI-text  p{
color: green;
margin-top: 100px;
}

.upperVI-text  p + h1  + p{
color: #0f0f0f;
font-size: 20px;
line-height: 1.6;
opacity: 90%;
margin-top: 30px;
}

.upperVI-text h1{
font-weight: 700;
font-size: 35px;

opacity: 90%;
margin-bottom: -13px;
}

.upperVII{
display: flex;
/* border: 3px solid greenyellow; */
width: 100%;
height: 600px;
}

.upperVII div{
/* border: 2px solid blueviolet; */
width: 50%;

}
.upperVII div img{
width: 80%;
height: 100%;
margin-left: 50px;
}

.upperVII-text div img{
width: 30%;
height: 30%;
margin-left: 100px;
margin-top: 100px;
}

.upperVII-text div + p{
font-size: 24px;
color:#333333;
line-height: 32px;
margin-left: 100px;


}


.lower{
/* border: 2px solid rgb(8, 90, 29); */
width: 100%;
margin: auto;
}
.lower div{
text-align: center;
font-size: 32px;
line-height: 40px;
color: #333333;
}

.lower-grid{
width: 90%;
display: grid;
grid-template-columns: repeat(9, 1fr);
margin: auto;
margin-top: 15px;
/* border: 1px solid black; */
}
.lower-grid div img{
width: 55%;
height: 60%;
}

.btn{
margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #6c6cff;
padding: 16px 13px 16px 13px ;
margin-top: 10px;
margin-left: 45%;
border: none;
}
.btn:hover{
background-color:#2626e3 ;
}




.lowerI{
height: 1000px;
background: #f0f3ff;
clip-path: polygon(0 0, 100% 10%, 100% 97%, 0 86%);
position: relative;
display: flex;
margin-top: 50px;
/* border: 3px solid rgb(59, 0, 235); */
}

.lowerI-div{
margin: auto;
width: 90%;
height: 85%;
/* border: 2px solid rgb(5, 41, 2); */
}

.lowerI-div .lowerI-text {
/* border: 3px solid black; */
width: 60%;
margin: auto;
}

.lowerI-div div h1{
text-align: center;
color: #323338;
font-size: 32px;
line-height: 40px;
}


.lowerI-divI{
/* border: 3px solid rgb(175, 206, 114); */
width: 100%;
margin-top: 100px;
height: 60%;
display: flex;
}

.lowerI-divI div{
/* border: 5px solid green; */


height: 100%;
}

.divI-select{
margin-top: 50px;
width: 20%;
text-align: center;
}


.divI-select p:hover {
cursor: pointer;
font-size: 17px;
color: skyblue;
}
.divII-text{
width: 30%;
margin-top: 50px;  
}

.divII-text p {
cursor: pointer;
font-size: 28px;
}
#message{
font-size: 28px;
text-align: left;

}

.divIII-img{
width: 50%;
margin-top: 50px;
}

.divIII-img img{
width: 90%;
height: 90%;
margin-left: 30px;

}

.lowerII{
clip-path: polygon(0 2%, 100% 15%, 100% 100%, 0% 100%);
background: rgb(15, 16, 72);
width: 100%;
height: 1500px;
position: relative;


}


.lowerII-I{
border: 1px solid  rgb(15, 16, 72);;
width: 100%;
margin: auto;
text-align: center;

}

.lowerII-I h1{
color: #ffffff;
margin-top: 300px;

font-size: 32px;
/* line-height: 40px; */
}

.lowerII-II{
/* border: 1px solid rgb(255, 0, 166); */
width: 95%;
margin: auto;
height: 500px;
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 15px;


}

.lowerII-II div {
/* border: 1px solid greenyellow; */
height: 70%;
margin-top: 50px;
background-color: #ffffff;
border-radius: 10px;
padding: 12px;

}

.lowerII-II div div{
width: 80%;
height: 10%;
margin: auto;
}

.lowerII-II div div img{
width: 100%;
height: 100%;
}

.lowerII-II div p{
color: #676879;
margin-left: 10px;
font-size: 14px;

}

.lowerII-II div p + p{
color: #333333;
margin-left: 12px;
margin-top: 40px;
font-size: 16px;
line-height: 1.5;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

.lowerII-II div p + p +button {
border-radius: 40px;
padding: 10px 7px 10px 7px;
width: 200px;
height: 40px;
margin-left: 20px;
}

.lowerII-II div p + p +button:hover{

background-color: rgb(193, 189, 189);
cursor: pointer;
}

.lowerII-II div p + p +button + p{
text-align: center;
font-size: 14px;
color: #676879;
font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
}

.lowerII-II div p + p +button + p:hover{
color: skyblue;
}




.lowerII-III{
/* border: 1px solid rgb(0, 255, 34); */
width: 100%;
margin: auto;
height: 700px;
display: flex;

}

.lowerII-III div{
width: 50%;
height: 600px;
/* border: 1px solid green; */

}  

.lowerII-III .lowerII-III-text div {
margin: auto;
margin-top: 140px;
width: 80%;
height: 50%;
/* border: 1px solid pink; */
}

.lowerII-III .lowerII-III-text div h1{
font-size: 40px;
line-height: 48px;
color: #ffffff;
}

.lowerII-III .lowerII-III-text div button{
margin: auto;
border-radius: 40px;
font-family: sofia-pro, sans-serif;
font-size: 16px;
text-align: center;
width: 200px;
color:#ffffff ;
background-color: #6c6cff;
padding: 16px 13px 16px 13px ;
border: none;
}


.lowerII-III .lowerII-III-text div button:hover{
background-color:#2626e3 ;


}




.lowerII-III .lowerII-III-text + div img{
width: 65%;
height: 100%;
}


