 /*  -------------------- Navbar css part ------------------------*/

 /* * {
     padding: 0px;
     margin: 0px;
 }  */

 #navbar {
     width: 100%;
     height: 72px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     margin-top: -10px;
     z-index: 555;
     background-color: #ffffff;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


 }


 .menu_arrow {
     width: 13PX;
     height: 13px;
     background-color: rgb(240, 241, 247);
     transform: rotate(90deg);
     display: block;
     margin-top: 12px;
     margin-left: -7px;
 }

 .nav_menu12 {

     display: flex;
 }

 #left_side {
     width: fit-content;

     display: flex;
     justify-content: space-evenly;

 }


 .left_subdiv {
     margin-left: 20px;
     margin-top: 10px;
     text-align: center;
     align-items: center;

 }

 #logo>a>img {
     height: 40px;
     padding: 7px;
 }

 #logo {
     padding-left: 30px;

     display: flex;
     align-items: center;
 }

 /* leftMenu */

 #left_menu {
     width: auto;
     display: flex;
     grid-template-columns: repeat(5, 1fr);
     justify-content: space-evenly;
     font-weight: 200;
     font-size: 16px;
     color: #333;
     cursor: pointer;

 }


 .left_title {
     line-height: 1.15;
     -webkit-text-size-adjust: 100%;
     font-size: 16px;
     visibility: visible;
     cursor: pointer;
     color: #535768;
     font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
     box-sizing: border-box;
     font-weight: 300;
     margin-right: 4px;
     margin-top: 2px;
     padding: 7px;
 }

 .left_title:hover {
     color: blue;
     background-color: rgb(240, 241, 247);
     border-radius: 7px;

 }




 /* Right Menu */
 #right_menu {
     width: 40%;
     display: flex;
     justify-content: space-evenly;
     font-weight: 300;
     font-size: 16px;
     color: #333;
     cursor: pointer;

 }

 #right_menu>div>a {


     text-decoration: none;
     color: #333;
 }

 #right_menu>div {
     margin-top: 10px;
     text-align: center;
     align-items: center;

 }

 .right_title {
     line-height: 1.15;
     -webkit-text-size-adjust: 100%;
     font-size: 16px;
     visibility: visible;
     cursor: pointer;
     color: #535768;
     font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
     box-sizing: border-box;
     font-weight: 300;
     margin-right: 4px;
     margin-bottom: 5px;
     padding: 7px;
 }

 .right_title:hover {
     color: blue;
     background-color: rgb(240, 241, 247);
     border-radius: 7px;

 }



 #btn_getStrted {

     padding-left: 15px;
     padding-right: 15px;
     text-align: center;
     width: 130px;
     height: 40px;

     background-color: rgb(24, 58, 170);
     border-radius: 20px;
     cursor: pointer;
     margin-top: 4px;
 }

 #btn_getStrted {
     -webkit-text-size-adjust: 100%;
     box-sizing: border-box;
     font-family: sofia-pro, sans-serif;
     margin: 0;
     text-transform: none;
     position: relative;
     -webkit-appearance: button;
     border-radius: 40px;
     border: none;
     text-align: center;
     cursor: pointer;
     user-select: none;
     line-height: 17px;
     overflow: hidden;
     background-color: #6C6CFF;
     color: #ffffff;
     font-size: 14px;
     padding: 8px 16px;
     font-weight: 300;
     min-width: 130px;
     height: 40px;
     transition: 0.1s ease background-color;
     padding-right: 14px;
     margin-top: 4px
 }

 #btn_getStrted:hover {
     background-color: #8282fd;
     ;
     float: right;

 }

 #btn_getStrted>a {
     text-decoration: none;
     color: #ffffff;
 }











 /* dropdown card */


 #drop_down1 {
     background-color: white;
     width: 100%;
     display: block;
     position: absolute;
     margin-left: -220px;
     margin-top: 22px;
 }

 #drop_down2 {
     background-color: white;
     width: 100%;
     display: block;
     position: absolute;
     margin-left: -330px;
     margin-top: 22px;
 }

 #drop_down3 {
     background-color: white;
     width: 100%;
     display: block;
     position: absolute;
     margin-left: -450px;
     margin-top: 22px;
 }

 #drop_down4 {
     background-color: white;
     width: 100%;
     display: block;
     position: absolute;
     margin-left: -560px;
     margin-top: 22px;
 }











 /* ---------------Product dropdown menu-------------------------- */

 /* Monday products header */
 #products_drop {
     padding: 2%;
     width: 98%;
     height: auto;


 }

 #head_product8 {
     padding: 5px;
     margin-left: 80px;
     margin-bottom: 20px;
 }

 #products_drop>div>h2 {
     margin-top: -20px;
     margin-left: -1200px;


 }

 .name_prod {
     display: block;
     margin-top: 25px;
     margin-left: 18px;
 }

 .name_prod>h3 {

     text-align: left;
 }



 #products_drop1 {
     display: flex;
     justify-content: space-between;
    
 }

 #products_drop1>p {
    font-size: 16px;
     margin-top: -10px;
     margin-right: 70pX;
     margin-bottom: -10px;
     
 }

 /* Products details cards */
 #prod_container {
    width: 100%;
    padding: 10px;
    
 }

 .work span {
     width: 40px;

     align-items: center;
     display: flex;
     padding: 5px;
    
 

 }

 .logo_product {
     display: flex;   

 }

 .work span>img {
     margin-top: 20px;
     width: 100%;
     border: 1px solid rgb(233, 227, 227);
     margin-left: 5px;
 }

 .work{
 margin-left: 5px;
 border-radius: 8px;
    
 }
 .work>div:nth-child(1) {
     display: flex;
   

 }

 .work>div:nth-child(2) {
     display: flex;
     align-items: center;

 }

 #products_detail>div:nth-child(1).work a {

     margin-right: 8px;
     text-decoration: none;
     color: blue;
   
     border-radius: 5px;
     font-size: 15px;

 }

 #products_detail>div:nth-child(1):hover {
     background-color: rgb(219, 222, 233);
 }

 #products_detail>div:nth-child(2).work a {
     margin-right: 8px;
     text-decoration: none;
     color: rgb(17, 165, 190);
     /* background-color: rgb(231, 246, 247); */
     border-radius: 5px;
     font-size: 15px;

 }

 #products_detail>div:nth-child(2):hover {
     background-color: rgb(231, 246, 247);
 }

 #products_detail>div:nth-child(3).work a {
     margin-right: 8px;
     text-decoration: none;
     color: rgb(243, 18, 149);
     /* background-color: rgb(250, 217, 243); */
     border-radius: 5px;
     font-size: 15px;

 }

 #products_detail>div:nth-child(3):hover {
     background-color: rgb(250, 217, 243);
 }

 #products_detail>div:nth-child(4).work a {
     margin-right: 8px;
     text-decoration: none;
     color: rgb(204, 126, 23);
     /* background-color: rgb(233, 224, 212); */
     border-radius: 5px;
     font-size: 15px;


 }

 #products_detail>div:nth-child(4):hover {
     background-color: rgb(236, 219, 195);
 }

 #products_detail>div:nth-child(5).work a {
     margin-right: 8px;
     text-decoration: none;
     color: rgb(12, 209, 144);

     border-radius: 5px;
     font-size: 15px;

 }

 #products_detail>div:nth-child(5):hover {
     background-color: rgb(224, 228, 245)
 }

 .work>div:nth-child(2)>div>p {
     color: rgb(61, 57, 57);
 }

 .work {
     width: auto;
     height: 150px;
 }

 .work p {
     color: rgb(61, 57, 57);
 }

 #name_prod {
     margin-left: 20px;
     margin-bottom: -7px;
 }

 #name_prod>h3 {
     margin-bottom: -12px;
 }



 #products_detail {
     width: 100%;
     height: fit-content;
     display: grid;
     grid-template-columns: repeat(2, auto);

     grid-area: "products_detail";
 }


 #prod_container {

     width: auto;
     padding: 20pxpx;
     display: grid;
     grid-template-columns: repeat(2, auto);

     display: block;

 }

 #prod_container {
     color: black;
     background-color: white;
 }

 #card_12 {
     display: grid;
     grid-template-columns: auto auto;
 }

 #prod_container a,
 p,
 h3,
 h2 {
     font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
 }


 /* More by monday products */

 #more {
     width: auto;
     margin-top: 2px;
     
 }

 #more>div {
     width: auto;
     display: flex;
     margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 5px;
 }

 #more>div:hover {
     background-color: rgb(241, 231, 231);
 }

 #more>div>img {
     border: 1px solid rgb(247, 240, 240);
     margin-top: 15px;
     margin-right: 5px;
     width: 35px;
     height: 35px;
 }

 #more>div>h4 {
     margin-top: 15px;
     margin-left: 15px;
 }




 /* --------------------Use cases Dropdown menu------------------------*/


 #usecase_menu {
     margin-top: 20px;
     height: 435px;
     display: flex;
     justify-content: space-evenly;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

 }

 .title_1 {


     text-align: left;
     margin-top: 30px;
     margin-bottom: 10px;
     margin: auto;
     font-weight: bolder;
     color: rgb(102, 101, 101);

 }

 /* by team block1 */
 #team_card {
     margin-top: 20px;
     display: grid;
     padding: 10px;
     grid-template-columns: repeat(2, 210px);
     grid-template-rows: repeat(4, 64px);

 }

 .team_card1 {

     display: flex;
     align-items: center;
     gap: 25px;
     border: 1px solid rgb(228, 223, 223);
     padding: 10px;
     column-gap: 15px;
     margin-bottom: 20px;
     border-radius: 8px;
 }

 .team_card1:hover {
     background-color: rgb(231, 227, 227);
 }

 .team_card1>svg {
     background-color: #d4d4f7;
     padding: 2px;
     border-radius: 5px;
 }

 .team_card1>h4 {
     text-decoration: none;
     color: rgb(102, 101, 101);
     width: 20px;
 }

 .decoretion {
     text-decoration: none;
 }

 /* By business size block*/
 #size_card {
     margin-top: 20px;
     width: 195px;


 }

 #size_card>div {
     display: flex;
     align-items: center;
     gap: 15px;
     margin-bottom: 20px;
     padding: 15px;
     border-radius: 8px;
     border: 1px solid rgb(230, 227, 227);
     color: rgb(102, 101, 101);
 }

 .size_card1>svg {
     background-color: #d4d4f7;
     padding: 3px;
     border-radius: 5px;
 }

 #size_card>div:hover {
     background-color: rgb(231, 227, 227);
 }

 .size_card1>h4 {
     color: rgb(102, 101, 101);
 }

 /* By work flow block  */
 #workfolow_card {
     margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2, 312px);
     grid-template-rows: repeat(1, 398px);
     row-gap: 10px;
     text-align: left;
 }

 .workflow_card2 {

     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 20px;
     border: 1px solid rgb(230, 227, 227);
     border-radius: 8px;
     padding: 10px;
 }


 .workflow_1 {
     color: rgb(102, 101, 101);

 }

 .workflow_1>h4 {
     margin-bottom: 5px;
 }

 .workflow_card2:hover {
     background-color: rgb(231, 227, 227);
 }

 .workflow_card2>svg {
     width: 40px;
     margin-bottom: 23px;

     background-color: #d4d4f7;
     padding: 4px;
     border-radius: 5px;
 }





 /* ------------------- Features dropdown menu ------------------------ */

 #features_drop1 {
     width: 100%;
     height: 300px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


 }

 .fetures_subhead {
     margin-top: 30px;
     margin-left: -1110px;

 }


 .features_a {
     text-decoration: none;
     color: black;
 }

 #features_card {
     display: grid;
     grid-template-columns: repeat(4, 290px);
     grid-template-rows: repeat(2, auto);
     gap: 20px;
     row-gap: 20px;
     padding: 17px;
     padding-left: 15px;
    
   
 }

 .features_card1 {
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     padding: 15px;
     border-radius: 8px;
 
 }

 .features_card1:hover {
     background-color: rgb(230, 236, 245);
 }

 .fetures_head {
     display: flex;
     align-items: center;
 }

 .fetures_head>svg {
     background-color: #d4d4f7;
     padding: 5px;
     border-radius: 5px;
 }

 .features_card1>p {
     text-align: left;
     margin-top: 8px;
     font-size: 16px;
 }

 .fetures_head>svg {
     margin-right: 10px;
     padding: 4px;
 }


 /* --------------------Resourses dropdown menu ------------------------------- */

 #resources_drop1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto;
     gap: 15px;

     box-shadow: rgba(.20, .20, 33, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
     padding: 10px;
   
 }

 #resources_drop1 {
     text-align: left;
   
 }

 .head_features {
     margin-bottom: 15px;
   
   margin-top: 15px;
   margin-left: 4px;
    
 }

 .features_card {
     margin-bottom: 15px;
     padding: 15px;
     border-radius: 8px;
     border: 1px solid rgb(233, 229, 229);
 }

 .features_card:hover{
    background-color: rgb(242, 242, 243);
}
 .features_card>h4 {
     margin-bottom: 15px;
     color: rgb(94, 91, 91);
 }

 .features_card>p {
     font-size: 15px;
 }

 .storiesdiv {
     width: 270px;
     height: 260px;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
     margin-bottom: 10px;
     text-align: center;
     
 }
 .storiesdiv>p {
    margin-bottom: 6px;
    
 }

 .storiesImg {
    display: block;
    margin: auto;
     width: 220px;
     height: 150px;
     margin-bottom: 10px;
     border-radius: 6px;
 }